* {
    font-family: Arial, Helvetica, sans-serif;
}

.imagem1 {
    height: 100%;
    width: 100%;
}

.imagem2 {
    height: 100%;
    width: 100%;
}

.imagem3 {
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    background-color: rgb(30, 83, 39);
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

li:hover {
    cursor: pointer;
    color: lightgray;
}

#header h1 {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

li {
    float: left;
    margin: 5px;
    text-decoration: none;
    color: white;
}

.fotoprodutos {
    display: flex;
    height: 300px;
    width: 300px;
}

body {
    padding: 0;
    margin: 0;
}

.control-dots {
    display: flex;
    justify-content: center;
}

.bloco-principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.bloco-produtos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 5vh;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 5px;
}

.bloco-produtos div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.bloco-produtos div div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

}

th {
    width: 40%;
    padding: 1rem;
    text-align: center;
}

button {
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: rgb(30, 83, 39);
    padding: 1rem;
}

button:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
}

#headerprod {
    background-color: white;
}

.pagename {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgb(30, 83, 39);
}

.precos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.botaoadd {
    margin-top: 20px;
}

.pdesconto {
    font-weight: 550;
    margin-left: 28%;
}

.pnormal {
    color: red;
    text-decoration: line-through;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 83, 39);
    color: white;
    padding: 1%;
    margin-top: 100px;
}

.secao {
    display: grid;
}

.secoes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.secao h4 {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 15px;
}

.secao p {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: lightgray;
}

.copy {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.copy p {
    margin: 0;
}

#secaocontato {
    margin-right: 20px;
}